xsd/licenses-1.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.2 on 2011-04-30 22:06:23,                       -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://modello.codehaus.org/xsd/modello-1.2.0.xsd" targetNamespace="http://modello.codehaus.org/xsd/modello-1.2.0.xsd">
  <xs:element name="licenses" type="LicensesContainer">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">
	        
	        	The Licenses file defines the three categories which are
		        used to categorize the different licenses of the artifacts.
	   	    
			</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LicensesContainer">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
      <xs:documentation source="description">
	        
	        	The Licenses file defines the three categories which are
		        used to categorize the different licenses of the artifacts.
	   	    
			</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="valid" type="LicensesList">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">
						
							The valid category defines licenses which are
							assumed to be ok.
						
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="invalid" type="LicensesList">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">
						
							The invalid category defines licenses which are
							not ok.
						
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="warning" type="LicensesList">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">
						
							The warning category defines licenses which are
							defined to be warning.
						
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="LicensesList">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="license" type="LicenseItem" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenseItem">
    <xs:annotation>
      <xs:documentation source="version">1.0.0</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">
						
							The id field is used as unique identifier.
						
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">
						
							The description field can be used to describe the particular 
							license or give supplemental information about the license.
						
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="names">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">
						
							The list of names give the possible names of a license. 
						
					</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="urls">
        <xs:annotation>
          <xs:documentation source="version">1.0.0</xs:documentation>
          <xs:documentation source="description">
						
							The list of urls gives the possible URL&apos;s under which
							a license can be reached. 
						
					</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>